<form class="form-horizontal form-material">
    <div class="form-group ">
        <a href="javascript:void(0)" class="text-center db"><img src="assets/images/logo.png" alt="Şifremi Kurtar" /></a>
        <div class="col-xs-12 m-t-20">
            <h3>Şifremi Kurtar</h3>
            <p class="text-muted">Lütfen Eposta Adresinizi Giriniz </p>
        </div>
    </div>
    <div class="form-group ">
        <div class="col-xs-12">
            <input class="form-control" type="text" required="" placeholder="Eposta Adresiniz..."> </div>
    </div>
    <div class="form-group text-center m-t-20">
        <div class="col-xs-12">
            <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Sıfırla</button>
        </div>
    </div>
</form>