<div class="row">

    <div class="col-lg-4 col-md-4" *ngFor="let data of dashBoardList">

        <div class=" card card-body ">
            <div class="row p-t-10 p-b-10 ">
                <div class="col p-r-0 ">
                    <span>{{data.title}}</span>
                    <h2 class="font-light ">{{data.callData.outgoing}} <span class="total ">{{data.callData.total}}</span></h2>
                    <h6 class="text-muted ">{{data.callData.total - data.callData.outgoing }} aranacak</h6>
                </div>

                <div class="col text-right align-self-center ">
                    <app-circle-chart [percentage]="calculate(data.callData.outgoing,data.callData.total)"></app-circle-chart>
                </div>
            </div>
        </div>

    </div>
</div>