<div class="row">
    <div class="col-lg-12">

        <div class="row">

            <div class="col-lg-9">

                <div class="row">
                    <div class="col-md-6">
                        <app-todo-list></app-todo-list>
                    </div>
                    <div class="col-md-6">
                        <app-daily-schedule></app-daily-schedule>
                    </div>
                </div>

            </div>
            <!-- col-lg-9 -->

            <div class="col-lg-3">

                <div class="row">

                    <div class="col-lg-12">

                        <div class="card card-body manager-card">
                            <div class="row">
                                <div class="col-md-4 col-lg-3 text-center">
                                    <a href="app-contact-detail.html"><img src="../assets/images/project-logo.png"
                                                                           alt="user" class="img-circle img-responsive"></a>
                                </div>
                                <div class="col-md-8 col-lg-9">
                                    <h3 class="box-title m-b-0">Johnathan Doe</h3>
                                    <span>05399999999</span><br>
                                    <span>example@gmail.com</span><br>
                                    <span>2+1 Daire İstiyorum</span>
                                </div>
                            </div>
                            <i class="ti-arrow-right text-right dropdown-toggle cursor" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="true">
                            </i>
                            <div class="dropdown-menu animated flipInY">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Basic Table</h4>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>İsim</th>
                                                    <th>Görüşme</th>
                                                    <th>Randevu</th>
                                                    <th>Arama</th>
                                                    <th>Satış</th>
                                                    <th>Aksiyon</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>Deshmukh</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Deshmukh</td>
                                                    <td>33</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Sanghani</td>
                                                    <td>2</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Roshan</td>
                                                    <td>3</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Joshi</td>
                                                    <td>22</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Nigam</td>
                                                    <td>22</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-12">

                        <div class="card card-body manager-card">
                            <div class="row">
                                <div class="col-md-4 col-lg-3 text-center">
                                    <a href="app-contact-detail.html"><img src="../assets/images/project-logo.png"
                                                                           alt="user" class="img-circle img-responsive"></a>
                                </div>
                                <div class="col-md-8 col-lg-9">
                                    <h3 class="box-title m-b-0">Johnathan Doe</h3>
                                    <span>05399999999</span><br>
                                    <span>example@gmail.com</span><br>
                                    <span>2+1 Daire İstiyorum</span>
                                </div>
                            </div>
                            <i class="ti-arrow-right text-right dropdown-toggle cursor" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="true">
                            </i>
                            <div class="dropdown-menu animated flipInY">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Basic Table</h4>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>İsim</th>
                                                    <th>Görüşme</th>
                                                    <th>Randevu</th>
                                                    <th>Arama</th>
                                                    <th>Satış</th>
                                                    <th>Aksiyon</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>Deshmukh</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Deshmukh</td>
                                                    <td>33</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Sanghani</td>
                                                    <td>2</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Roshan</td>
                                                    <td>3</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Joshi</td>
                                                    <td>22</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Nigam</td>
                                                    <td>22</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-12">

                        <div class="card card-body manager-card">
                            <div class="row">
                                <div class="col-md-4 col-lg-3 text-center">
                                    <a href="app-contact-detail.html"><img src="../assets/images/project-logo.png"
                                                                           alt="user" class="img-circle img-responsive"></a>
                                </div>
                                <div class="col-md-8 col-lg-9">
                                    <h3 class="box-title m-b-0">Johnathan Doe</h3>
                                    <span>05399999999</span><br>
                                    <span>example@gmail.com</span><br>
                                    <span>2+1 Daire İstiyorum</span>
                                </div>
                            </div>
                            <i class="ti-arrow-right text-right dropdown-toggle cursor" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="true">
                            </i>
                            <div class="dropdown-menu animated flipInY">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Basic Table</h4>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>İsim</th>
                                                    <th>Görüşme</th>
                                                    <th>Randevu</th>
                                                    <th>Arama</th>
                                                    <th>Satış</th>
                                                    <th>Aksiyon</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>Deshmukh</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Deshmukh</td>
                                                    <td>33</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Sanghani</td>
                                                    <td>2</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Roshan</td>
                                                    <td>3</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Joshi</td>
                                                    <td>22</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Nigam</td>
                                                    <td>22</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-12">

                        <div class="card card-body manager-card">
                            <div class="row">
                                <div class="col-md-4 col-lg-3 text-center">
                                    <a href="app-contact-detail.html"><img src="../assets/images/project-logo.png"
                                                                           alt="user" class="img-circle img-responsive"></a>
                                </div>
                                <div class="col-md-8 col-lg-9">
                                    <h3 class="box-title m-b-0">Johnathan Doe</h3>
                                    <span>05399999999</span><br>
                                    <span>example@gmail.com</span><br>
                                    <span>2+1 Daire İstiyorum</span>
                                </div>
                            </div>
                            <i class="ti-arrow-right text-right dropdown-toggle cursor" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="true">
                            </i>
                            <div class="dropdown-menu animated flipInY">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Basic Table</h4>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>İsim</th>
                                                    <th>Görüşme</th>
                                                    <th>Randevu</th>
                                                    <th>Arama</th>
                                                    <th>Satış</th>
                                                    <th>Aksiyon</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>Deshmukh</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Deshmukh</td>
                                                    <td>33</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Sanghani</td>
                                                    <td>2</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Roshan</td>
                                                    <td>3</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Joshi</td>
                                                    <td>22</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Nigam</td>
                                                    <td>22</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- col-lg-12 card -->

                    <div class="col-lg-12">

                        <div class="card card-body manager-card">
                            <div class="row">
                                <div class="col-md-4 col-lg-3 text-center">
                                    <a href="app-contact-detail.html"><img src="../assets/images/project-logo.png"
                                                                           alt="user" class="img-circle img-responsive"></a>
                                </div>
                                <div class="col-md-8 col-lg-9">
                                    <h3 class="box-title m-b-0">Johnathan Doe</h3>
                                    <span>05399999999</span><br>
                                    <span>example@gmail.com</span><br>
                                    <span>2+1 Daire İstiyorum</span>
                                </div>
                            </div>
                            <i class="ti-arrow-right text-right dropdown-toggle cursor" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="true">
                            </i>
                            <div class="dropdown-menu animated flipInY">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Basic Table</h4>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>İsim</th>
                                                    <th>Görüşme</th>
                                                    <th>Randevu</th>
                                                    <th>Arama</th>
                                                    <th>Satış</th>
                                                    <th>Aksiyon</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>Deshmukh</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Deshmukh</td>
                                                    <td>33</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Sanghani</td>
                                                    <td>2</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Roshan</td>
                                                    <td>3</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Joshi</td>
                                                    <td>22</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Nigam</td>
                                                    <td>22</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- col-lg-12 card -->

                    <div class="col-lg-12">

                        <div class="card card-body manager-card">
                            <div class="row">
                                <div class="col-md-4 col-lg-3 text-center">
                                    <a href="app-contact-detail.html"><img src="../assets/images/project-logo.png"
                                                                           alt="user" class="img-circle img-responsive"></a>
                                </div>
                                <div class="col-md-8 col-lg-9">
                                    <h3 class="box-title m-b-0">Johnathan Doe</h3>
                                    <span>05399999999</span><br>
                                    <span>example@gmail.com</span><br>
                                    <span>2+1 Daire İstiyorum</span>
                                </div>
                            </div>
                            <i class="ti-arrow-right text-right dropdown-toggle cursor" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="true">
                            </i>
                            <div class="dropdown-menu animated flipInY">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Basic Table</h4>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>İsim</th>
                                                    <th>Görüşme</th>
                                                    <th>Randevu</th>
                                                    <th>Arama</th>
                                                    <th>Satış</th>
                                                    <th>Aksiyon</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>Deshmukh</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Deshmukh</td>
                                                    <td>33</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Sanghani</td>
                                                    <td>2</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Roshan</td>
                                                    <td>3</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Joshi</td>
                                                    <td>22</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Nigam</td>
                                                    <td>22</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- col-lg-12 card -->

                    <div class="col-lg-12">

                        <div class="card card-body manager-card">
                            <div class="row">
                                <div class="col-md-4 col-lg-3 text-center">
                                    <a href="app-contact-detail.html"><img src="../assets/images/project-logo.png"
                                                                           alt="user" class="img-circle img-responsive"></a>
                                </div>
                                <div class="col-md-8 col-lg-9">
                                    <h3 class="box-title m-b-0">Johnathan Doe</h3>
                                    <span>05399999999</span><br>
                                    <span>example@gmail.com</span><br>
                                    <span>2+1 Daire İstiyorum</span>
                                </div>
                            </div>
                            <i class="ti-arrow-right text-right dropdown-toggle cursor" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="true">
                            </i>
                            <div class="dropdown-menu animated flipInY">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Basic Table</h4>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>İsim</th>
                                                    <th>Görüşme</th>
                                                    <th>Randevu</th>
                                                    <th>Arama</th>
                                                    <th>Satış</th>
                                                    <th>Aksiyon</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>Deshmukh</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Deshmukh</td>
                                                    <td>33</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Sanghani</td>
                                                    <td>2</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Roshan</td>
                                                    <td>3</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Joshi</td>
                                                    <td>22</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Nigam</td>
                                                    <td>22</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- col-lg-12 card -->

                    <div class="col-lg-12">

                        <div class="card card-body manager-card">
                            <div class="row">
                                <div class="col-md-4 col-lg-3 text-center">
                                    <a href="app-contact-detail.html"><img src="../assets/images/project-logo.png"
                                                                           alt="user" class="img-circle img-responsive"></a>
                                </div>
                                <div class="col-md-8 col-lg-9">
                                    <h3 class="box-title m-b-0">Johnathan Doe</h3>
                                    <span>05399999999</span><br>
                                    <span>example@gmail.com</span><br>
                                    <span>2+1 Daire İstiyorum</span>
                                </div>
                            </div>
                            <i class="ti-arrow-right text-right dropdown-toggle cursor" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="true">
                            </i>
                            <div class="dropdown-menu animated flipInY">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Basic Table</h4>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>İsim</th>
                                                    <th>Görüşme</th>
                                                    <th>Randevu</th>
                                                    <th>Arama</th>
                                                    <th>Satış</th>
                                                    <th>Aksiyon</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>Deshmukh</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Deshmukh</td>
                                                    <td>33</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Sanghani</td>
                                                    <td>2</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Roshan</td>
                                                    <td>3</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Joshi</td>
                                                    <td>22</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Nigam</td>
                                                    <td>22</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td>21</td>
                                                    <td><a href="#" class="btn-primary btn-rounded btn-sm">Detay</a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- col-lg-12 card -->


                </div>

            </div>

        </div>

    </div>
</div>