<div class="right-sidebar">
    <div class="slimscrollright">
        <div class="rpanel-title"> Hızlı İşlem Atama <span class="animated zoomIn"><i class="fa fa-2x fa-times-circle right-side-toggle" (click)="clickEvent($event)"></i></span> </div>
        <div class="r-panel-body">
            <div class="col-lg-12 reset-padding">
                <!--Ribbon Component-->
                <div class="ribbon-wrapper-reverse card">
                    <div class="ribbon ribbon-corner ribbon-right ribbon-warning"><i class="fa fa-user-plus" aria-hidden="true"></i></div>
                    <p class="ribbon-content"> Ritesh Deshmukh</p>
                    <span class="card-subtitle">0544-434-23-23</span>
                    <div class="ribbon-button-group">
                        <button type="button" class="btn btn-success btn-circle m-r-10"><i class="fa fa-share-alt" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-danger btn-circle"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </div>

                </div>
                <hr>
                <div class="ribbon-wrapper-reverse card">
                    <div class="ribbon ribbon-corner ribbon-right ribbon-info"><i class="fa fa-user-plus" aria-hidden="true"></i></div>
                    <p class="ribbon-content"> Amir Khan</p>
                    <span class="card-subtitle">0544-420-13-03</span>
                    <div class="ribbon-button-group">
                        <button type="button" class="btn btn-success btn-circle m-r-10"><i class="fa fa-share-alt" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-danger btn-circle"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </div>

                </div>
                <hr>
                <!--Ribbon Component End-->
            </div>

        </div>
    </div>
</div>