.page-wrapper {
    .preloader {
        display: none;
    }
    &.page-loader {
        .preloader {
            display: block;
            width: 100%;
            height: 100%;
            top: 0px;
            position: fixed;
            z-index: 99999;
            background: #fff;
            opacity: 0.8;
        }
    }
}

.table-responsive {
    overflow: auto !important;
}